.content-container {
    margin: 1rem auto 1rem; padding: 3rem;
}

.accordion .card {
    width: 33.33%; 
    position: static;
}

.accordion-body-container {
    padding: 1rem;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border: 1px solid rgba(0,0,0,.125);
}